<nav class="amber darken-3">
  <div class="nav-wrapper">
        <a href="#!" [routerLink]="['/']" class="brand-logo pushed-logo"><i class="material-icons">fastfood</i>Przepisy</a>

        <ul class="right hide-on-med-and-down pushed-menu">
            <li><a href="#" [routerLink]="['/']"><i class="material-icons left">list_alt</i>Przepisy</a></li>
            <li *ngIf="!isLogged"><a href="#" [routerLink]="['/rejestracja']">
              <i class="material-icons left">person_add</i>
              Zarejestruj się
            </a></li>
            <li *ngIf="!isLogged"><a href="#" [routerLink]="['/logowanie']"><i class="material-icons left">person</i>Zaloguj się</a></li>
            <li *ngIf="isLogged"><a href="#" [routerLink]="['/przepis/nowy']"><i class="material-icons left">playlist_add</i>Dodaj przepis</a></li>
            <li *ngIf="isLogged"><a href="#"><i class="material-icons left">person</i>{{ userName }}</a></li>
            <li *ngIf="isLogged"><a href="#" (click)="onLogout()"><i class="material-icons left">exit_to_app</i>Wyloguj się</a></li>
        </ul>
  </div>
</nav>

<a *ngIf="isLogged" href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img class="responsive-img" src="assets/images/default-bg.jpg">
    </div>
    <img class="circle" src="assets/images/default-img.jpg">
    <span class="white-text name">{{ userName }}</span>
    <span class="white-text email">{{ userEmail }}</span>
  </div></li>
  <!-- <li><div class="divider"></div></li> -->
  <li><a class="subheader">Twoje zapotrzebowanie</a></li>
  <div *ngIf="!editingUserDetails">
    <li class="align-center"><a>Kalorie: {{userDetails?.calories}}</a></li>
    <li class="align-center"><a>Białka: {{userDetails?.protein}}</a></li>
    <li class="align-center"><a>Węglowodany: {{userDetails?.carbs}}</a></li>
    <li class="align-center"><a>Tłuszcze: {{userDetails?.fat}}</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Informacje o Tobie</a></li>
    <li class="align-center"><a>Wiek: {{userDetails?.age}}</a></li>
    <li class="align-center"><a>Wzrost: {{userDetails?.height}}</a></li>
    <li class="align-center"><a>Waga: {{userDetails?.weight}}kg</a></li>
  </div>
  <div *ngIf="editingUserDetails">
      <li class="align-center">
        <a>
          <div class="input-field">
            <input type="text" name="editCaloriesValue" id="editCaloriesValue" [(ngModel)]="editCaloriesValue">
            <label class="active" for="editCaloriesValue">Kalorie</label>
          </div>
        </a>
      </li>
      <li class="align-center">
        <a>
          <div class="input-field">
            <input type="text" name="editProteinValue" id="editProteinValue" [(ngModel)]="editProteinValue">
            <label class="active" for="editProteinValue">Białka</label>
          </div>
        </a>
      </li>
      <li class="align-center">
        <a>
          <div class="input-field">
            <input type="text" name="editCarbsValue" id="editCarbsValue" [(ngModel)]="editCarbsValue">
            <label class="active" for="editCarbsValue">Węglowodany</label>
          </div>
        </a>
      </li>
      <li class="align-center">
        <a>
          <div class="input-field">
            <input type="text" name="editFatsValue" id="editFatValue" [(ngModel)]="editFatValue">
            <label class="active" for="editFatsValue">Tłuszcze</label>
          </div>
        </a>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Informacje o Tobie</a></li>
      <li class="align-center">
        <a>
          <div class="input-field active">
            <input type="number" name="editAgeValue" id="editAgeValue" [(ngModel)]="editAgeValue">
            <label class="active" for="editAgeValue">Wiek</label>
          </div>
        </a>
      </li>
      <li class="align-center">
          <a>
            <div class="input-field active">
              <input type="number" name="editHeightValue" id="editHeightValue" [(ngModel)]="editHeightValue">
              <label class="active" for="editHeightValue">Wzrost</label>
            </div>
          </a>
        </li>
        <li class="align-center">
            <a>
              <div class="input-field active">
                <input type="number" name="editWeightValue" id="editWeightValue" [(ngModel)]="editWeightValue">
                <label class="active" for="editWeightValue">Waga</label>
              </div>
            </a>
        </li>
        <li class="align-center">
            <a>
              <div class="input-field active">
                <input type="number" name="editCaloriesEatenValue" id="editCaloriesEatenValue" [(ngModel)]="editCaloriesEatenValue">
                <label class="active" for="editCaloriesEatenValue">Zjedzone kalorie</label>
              </div>
            </a>
        </li>
    </div>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Zarządzaj</a></li>
  <li *ngIf="!editingUserDetails" class="yellow darken-3"><a class="white-text" href="#!" (click)="onEdit()">Edytuj<i class="material-icons">edit</i></a></li>
  <div *ngIf="editingUserDetails">
      <li class="text-white light-green darken-1"><a class="white-text" href="#!" (click)="onSave()">Zapisz<i class="material-icons">save</i></a></li>
      <li class="text-white orange darken-4"><a class="white-text" href="#!" (click)="onCancel()">Anuluj<i class="material-icons">cancel</i></a></li>
  </div>
  <li class="align-center"><a>Zjedzone: {{userDetails?.caloriesEaten}}/{{ userDetails?.calories }}kcal</a></li>
  <li class="prog">
      <circle-progress
      [percent]="percentsInt"
      [radius]="30"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </li>
</ul>