.pushed-logo {
    margin-left: 5vw
}

.pushed-menu {
    margin-right: 5vw
}

.sidenav-trigger {
    position: fixed;
    top: 2.2vh;
    left: 1.3vw;
    text-decoration: none;
    color: #222;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #0075B2;
  }

  .input-field input[type=number]:focus + label {
    color: #0075B2;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #0075B2;
    box-shadow: 0 1px 0 0 #000;
  }

  .input-field input[type=number]:focus {
    border-bottom: 1px solid #0075B2;
    box-shadow: 0 1px 0 0 #000;
  }

  .prog {
      margin-top: 25px;
      margin-left: 100px;
  }