<h6>Składniki:</h6>
<app-ingredient 
    *ngFor="let ingredient of ingredients"
    [ingredient]="ingredient"
    [recipe]="recipe"
    [editingIngredients]="editingIngredients"
    [recipeCalories]="recipeCalories"
    [isOwner]="isOwner">
</app-ingredient>
<p *ngIf="recipeCalories >= 700" class="center-align deep-orange-text">{{ recipeCalories }}kcal</p>
<p *ngIf="recipeCalories < 700 && recipeCalories >= 400" class="center-align">{{ recipeCalories }}kcal</p>
<p *ngIf="recipeCalories < 400" class="center-align light-green-text">{{ recipeCalories }}kcal</p>