<div class="nav-wrapper">
    <form>
        <div class="input-field search-field">
            <input id="recipe-search" type="search" class="white" placeholder="Szukaj przepisu..." required>
            <label class="label-icon search-label" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons search-cancel">close</i>
        </div>
    </form>
</div>
<div class="row">
    <div *ngFor="let recipe of recipes">
        <app-recipe 
            [recipe]="recipe"
            class="col m4"
        ></app-recipe>
    </div>
</div>

