<blockquote>
  <p class="comment-content">
    {{ comment.content }}
  </p>
  <p class="comment-author">
      - {{ commentOwnerName }}
  </p>
  <div *ngIf="isOwner">
    <div *ngIf="editing">
      <textarea [(ngModel)]="contentEditValue" class="materialize-textarea"></textarea>
      <a (click)="onUpdate()" class="waves-effect waves-light btn-small comment-edit">Zapisz</a>
      <a (click)="onCancel()" class="waves-effect waves-light btn-small comment-edit">Anuluj</a>
    </div>
    <div *ngIf="!editing">
      <a (click)="onEdit()" class="btn-small comment-edit"><i class="material-icons">edit</i></a>
      <a (click)="onDelete()" class="btn-small comment-edit"><i class="material-icons">delete</i></a>
    </div>
  </div>
</blockquote>
