<!-- <li class="collection-item">
    
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                <img src="{{ recipe?.img_url }}" alt="" class="responsive-img">
                </div>
                <div class="col s8">
                <span class="black-text">
                    <div class="left">
                        <h6>{{recipe.title}}</h6>
                        <p>{{recipe.created_at}}</p>
                        <p>{{recipe.updated_at}}</p>
                        <p>{{userName}}</p>
                    </div>
                    <div class="right">
                        <p>{{recipe.calories}}</p>
                        <p *ngIf="avgRating">Średnia ocena: {{avgRating}}</p>
                    </div>
                </span>
                </div>
            </div>
        </div>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="eatRecipe(recipe.calories)"><i class="material-icons">restaurant</i></a>
</li> -->
<a [routerLink]="[ '/przepis', recipe.id ]">
    <div class="card hoverable">
        <div class="card-image">
            <img *ngIf="recipe?.img_url" src="{{ recipe?.img_url }}" height="300px">
            <img *ngIf="!recipe?.img_url" src="assets/images/no_img.png" height="300px">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light blue darken-2 hoverable" (click)="eatRecipe(recipe.calories)">
                <i class="material-icons">restaurant</i>
            </a>
        </div>
        <div class="card-content">
            <p class="center-align recipe-title truncate">{{ recipe.title }}</p>
            <p *ngIf="recipe.calories >= 700" class="center-align deep-orange-text">{{ recipe.calories }}kcal</p>
            <p *ngIf="recipe.calories < 700 && recipe.calories >= 400" class="center-align">{{ recipe.calories }}kcal</p>
            <p *ngIf="recipe.calories < 400" class="center-align light-green-text">{{ recipe.calories }}kcal</p>
            <p class="right-align recipe-author">Autor: {{ userName }}</p>
        </div>
    </div>
</a>