<li class="collection-item">
      <a [routerLink]="[ '/przepis', recipe.id ]">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                <img src="{{ recipe?.img_url }}" alt="" class="responsive-img">
                </div>
                <div class="col s10">
                <span class="black-text">
                    <div class="left">
                        <h6>{{recipe.title}}</h6>
                        <p>{{recipe.created_at}}</p>
                        <p>{{recipe.updated_at}}</p>
                        <p>{{userName}}</p>
                    </div>
                    <h4 class="right">{{recipe.calories}}</h4>
                </span>
                </div>
            </div>
        </div>
      </a>
</li>
