<div *ngIf="loadIngredients">
    <div *ngIf="!editingCount" class="ingredient-panel">
      <p>
        <span class="ingredient-name">{{ ingredient.name }} </span>
        <span class="ingredient-count">({{ count.amount }} {{ count.unit }}) </span>
        <span class="ingredient-kcal">{{ ingredient.calories }} kcal </span>
      </p>
      <input *ngIf="isOwner" type="button" (click)="onDetachIngredient(ingredient)" class="ingredient-delete" value="x">
      <a *ngIf="isOwner && editingIngredients" type="button" (click)="onEditCount()" class="waves-effect waves-light btn-small edit-count amber lighten-2 black-text"><i class="material-icons left">edit</i>Edytuj ilość</a>   
    </div>
    <div *ngIf="editingCount" class="card update-count-panel yellow lighten-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="input-field col s6">
            <select class="browser-default" name="unit" (change)="onUnitChange($event.target.value)" ngModel>
                <option value="" disabled selected>Wybierz jednostkę</option>
                <option *ngFor="let countsUnit of countsUnits" [value]="countsUnit">{{countsUnit}}</option>
            </select>
          </div>
          <div class="input-field col s6">
            <select class="browser-default" name="amount" ngModel>
                <option value="" disabled selected>Wybierz wartość</option>
                <option *ngFor="let countsAmount of countsAmounts" [value]="countsAmount">{{countsAmount}}</option>
            </select>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input id="calories" name="calories" type="number" class="validate" ngModel>
                <label for="calories">Poprzednio: {{ingredient.calories}}</label>
              </div>
            </div>
          <button type="submit" class="waves-effect waves-light btn light-green update-count">Zaktualizuj ilość</button>
      </form>
    </div>
</div>