<div class="row">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" class="validate" ngModel>
          <label for="title">Tytuł przepisu</label>
        </div>
        <div class="input-field col s12">
          <input id="img_url" name="img_url" type="text" class="validate" ngModel>
          <label for="img_url">Link do zdjęcia potrawy</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea" data-length="2000" ngModel></textarea>
            <label for="description">Opis przepisu</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <textarea id="preparation" name="preparation" class="materialize-textarea" data-length="2000" ngModel></textarea>
            <label for="preparation">Kroki przygotowania</label>
          </div>
      </div>
      <button (click)="onAddIngredients()" class="waves-effect waves-light btn light-green" *ngIf="!newIngredient">Dodaj składniki</button>
      <button type="submit" class="waves-effect waves-light btn light-green">Dodaj przepis</button>
     </form>
     <div *ngIf="newIngredient">
      <form (ngSubmit)="onSubmitIngredients(g)" #g="ngForm">
        <ul>
          <li *ngFor="let ingredient of ingredients, let i = index">
            {{ ingredient.name }}
            <input type="button" value="+" (click)="onAddIngredient(ingredient, i)"/>
          </li>
        </ul>
      </form>
      
      <ul class="right">
        Dodane składniki
        <li *ngFor="let recipeIngredient of recipeIngredients">
          {{ recipeIngredient.name }}
        </li>
        Kalorie: {{ sumOfIngredientCalories }}
      </ul>
      <a [routerLink]="[ '/składnik/nowy' ]" class="waves-effect waves-light btn light-green">Dodaj nowy składnik do bazy</a>
      </div>
</div>
