<div class="card">
  <div class="card-content">
<div class="row" *ngIf="loadComponent">
  <div *ngIf="!editing">
    <div class="col s7">
      <app-rating [recipe_id]="recipeDetails.id" [userId]="userId" class="rating"></app-rating>
      <h2 class="recipe-title">
        {{ recipeDetails.title }}
      </h2>
      <p class="recipe-dates">
          <span>{{ recipeDetails.created_at }}</span>
          <span class="date-update">{{ recipeDetails.updated_at }}</span>
      </p>
      <p>
        {{ recipeDetails.description }}
      </p>
      <p>
        {{ recipeDetails.preparation }}
      </p>
    </div>

    <div class="col s5">
      <img src="{{ recipeDetails?.img_url }}" class="responsive-img">
      <app-ingredients [recipe]="recipeDetails" [userId]="userId" *ngIf="loadIngredients" [isOwner]="isOwner"></app-ingredients>
    </div>
  </div>
  <div *ngIf="isOwner">
      <div *ngIf="editing">
        <textarea [(ngModel)]="titleEditValue" class="materialize-textarea"></textarea>
        <textarea [(ngModel)]="imgEditValue" class="materialize-textarea"></textarea>
        <textarea [(ngModel)]="descriptionEditValue" class="materialize-textarea" data-length="2000" rows="7"></textarea>
        <textarea [(ngModel)]="preparationEditValue" class="materialize-textarea" data-length="2000" rows="7"></textarea>

          <input type="button" value="Edytuj składniki" (click)="onEditIngredients()" class="waves-effect waves-light btn-small">
            <div *ngIf="editingIngredients">
                Składniki należące do przepisu:
                <app-ingredients [recipe]="recipeDetails" [userId]="userId" [editingIngredients]="editingIngredients" *ngIf="loadIngredients" [isOwner]="isOwner"></app-ingredients>
              <a [routerLink]="[ '/składnik/nowy', recipeDetails.id ]" class="waves-effect waves-light btn-small">Dodaj nowy składnik do bazy</a>
              <input type="button" value="Dodaj istniejący składnik" (click)="onAddExistingIngredient()" class="waves-effect waves-light btn-small">
              <form (ngSubmit)="onSubmitIngredients(g)" #g="ngForm" *ngIf="addExistingIngredient">
                  <ul>
                    <li *ngFor="let ingredient of ingredients, let i = index">
                      {{ ingredient.name }}
                      <input type="button" value="+" (click)="onAddIngredient(ingredient, i)"/>
                    </li>
                  </ul>
                </form>
                
                <ul class="right">
                  Dodane składniki
                  <li *ngFor="let recipeIngredient of recipeIngredients, let i = index">
                    {{ recipeIngredient.name }}
                    <input type="button" value="X" (click)="onDeleteEditIngredient(i)"/>
                  </li>
                  Kalorie: {{ sumOfIngredientCalories }}
                </ul>
            </div>
        <a (click)="onUpdate()" class="waves-effect waves-light btn-small">Zapisz</a>
        <a (click)="onCancel()" class="waves-effect waves-light btn-small">Anuluj</a>
      </div>
      <div *ngIf="!editing">
        <a (click)="onEdit()" class="waves-effect waves-light btn-small">Edytuj</a>
        <a (click)="onDelete()" class="waves-effect waves-light btn-small">Usuń</a>
      </div>
  </div>
  <app-comments *ngIf="loadComments" [recipeId]="recipeDetails.id" [userId]="userId"></app-comments>
</div>
</div>
</div>