@import url('https://fonts.googleapis.com/css?family=Ranga&subset=latin-ext');

.rating {
    float: right;
}

.recipe-title {
    color: #424242;
    font-family: 'Ranga', cursive;
    font-size: 4em;
}

.recipe-dates {
    font-size: 0.75em;
    color: #777;
}

.date-update {
    
}
